/************SM**************/
@media(max-width: 576px ){

}
/************MD**************/
@media(max-width:768px ){
	
}
/************LG**************/
@media(max-width:992px ){
.features-manu {
   			 margin-top: 50px;
   			 width: 100%;
}
.carousel-indicators {
    margin-bottom: -2rem;
}
.features p {
	text-align: center;
    padding: 0%;   
}
.features2 p {
    padding: 0% ;
}
.features {
    margin: 35px 0px 0px 0px;
}
.features-manu {
   margin: 25px 0px;
}
.features-manu2 {
    margin-top: 25px;
}
.phone{
    margin-bottom: 25px;
}

.features-manu p{
     color: #b1b1b1;
}
.manu {
    border:0px;
   
}
.header-area {
    position: relative;
}
.imgs{
    position: absolute;
    top: 10%;
    left: 45%;
}
}
/************XL**************/
@media(max-width:1200px ){
	.phone{
    margin-bottom: 0px;
    width: 50%;
}
.tinyone-features {
    padding-bottom: 20px;
}

}
	
}
/************XXL**************/
@media(max-width:1400px ){
	
}